spring:
  profiles:
    active: dev
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/zmall-goods?useUnicode=true&useSSL=true
    username: root
    password: 111111